<md-toolbar id="nav-toolbar">

    <div class="md-toolbar-tools">
      <span>SenSquare</span>

      <md-button ng-click="navvm.navigateTo('/')">
        Home 
      </md-button>

      <md-button ng-if="location=='home'">
        <a href="#second-section"> The platform </a>
      </md-button>
      <md-button ng-if="location=='home'">
        <a href="#third-section"> About </a>
      </md-button>
      <md-button ng-if="location=='home'">
        <a href="#fourth-section"> Development </a>
      </md-button>

      <md-button ng-click="navvm.navigateTo('/profile')" ng-if="navvm.logged">
        Scheme list 
      </md-button>
      <!-- fill up the space between left and right area -->
      <span flex></span>


    <md-menu md-offset="30 30">

        <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Apri menu di login e registrazione">
            <md-icon class="navbar-icon" md-svg-icon="/static/img/icons/ic_account_circle_white_24px.svg"></md-icon>
        </md-button>

        <md-menu-content >
            <md-menu-item ng-if="navvm.logged == false">
                <md-button  ng-click="navvm.showLoginDialog()" aria-label="login">
                    <md-icon md-svg-icon="/static/img/icons/ic_fingerprint_black_24px.svg"></md-icon>
                    Sign in
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="navvm.logged == false">

                <md-button ng-click="navvm.showRegisterDialog()" aria-label="registrati">
                     <md-icon md-svg-icon="/static/img/icons/ic_account_box_black_24px.svg"></md-icon>
                     Sign up
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="navvm.logged == true" >
                <md-button ng-click="navvm.logout()" aria-label="logout">
                    <md-icon md-svg-icon="/static/img/icons/ic_exit_to_app_black_24px.svg"></md-icon>
                    Logout
                </md-button>
            </md-menu-item>	
        </md-menu-content>

    </md-menu>


    </div>

</md-toolbar>
