<md-dialog aria-label="List dialog" layout="column" flex="30" > 
    <md-dialog-content layout="column" layout="center center" >
        <md-toolbar>
            <h2 class="md-toolbar-tools md-dialog-title">
                <span> Login </span>
            </h2>
        </md-toolbar>
        <md-content layout="column" class="md-padding">
            <md-input-container>
                <label>Username</label>
                <input type="username" ng-model="credentials.username">
            </md-input-container>

            <md-input-container>
                <label>Password</label>
                <input type="password" ng-model="credentials.password">
            </md-input-container>
        </md-content>    
    </md-dialog-content> 
    <md-dialog-actions class="md-dialog-footer"> 
        <md-button ng-click="login()" class="md-raised md-confirm-button"> 
            Confirm
        </md-button> 
        <md-button ng-click="closeDialog()" class="md-raised  md-cancel-button"> 
            Cancel 
        </md-button> 
    </md-dialog-actions> 
</md-dialog>
