<md-content flex="100">
<div layout="column" >
    <!-- #003366-->
    <navbar location="service"></navbar>
	<div layout="row" flex>
		<sidebar flex="15" layout-align="end stretch" ></sidebar>
	    <div style="height: 100%;" layout="column" id="template-detail-div" flex>

	    	<md-toolbar class="detail-toolbar" layout="row">
		    		<md-button  aria-label="Go back!" ng-click="vm.goBack()">
			        	<md-icon md-svg-src="/static/img/icons/ic_keyboard_backspace_white_48px.svg"></md-icon>
			    	</md-button>
					<h1 class="detail-title" class="md-title" flex="80">[[ vm.currentService.title ]]</h1>			    
	    		
			</md-toolbar>
			<md-content class="md-padding" flex>
				<h5> Expression: <i> [[ vm.expression ]] </i> </h5>
				<h3 class="md-title">Last calculated value: <i> [[vm.value]] </i></h3></
				 
			</md-content>
			<md-content class="md-padding" flex>
				
				<md-toolbar class="md-table-toolbar md-default" layout="column" flex>
					<div class="md-toolbar-tools">
						<span>Selected streams </span>
					</div>
				</md-toolbar>
				<md-table-container>
					<table md-table md-row-select multiple >
						<thead md-head md-order="" >
							<tr md-row>
								<th md-column >Name</th>
								<th md-column ><span>Class</span></th>
								<th md-column ><span>Description</span></th>
								<th md-column ><span>Last Value</span></th>
								
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row  ng-repeat="stream in vm.currentStreams">
								<td md-cell>[[stream.name]]</td>
								<td md-cell>[[stream.data_class]]</td>
								<td md-cell>[[stream.description]]</td>
								<td md-cell>[[stream.measurements[0].value]]</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
			</md-content>
			<md-content class="md-padding" flex>
					<div id="service-map" flex>
					</div>
			</md-content>
		</div>
	</div>
</div>
</md-content>


<!-- exact table from live demo -->
