<md-sidenav class="md-medium-tall"  md-is-locked-open="true" md-component-id="left" flex id="sidebar">
      
    <!-- <md-list>
        <md-list-item class="md-2-line" >
            <div class="md-list-item-text">
                
                <a class="md-button" href="/#/">
                  <md-icon md-svg-icon="/static/img/icons/ic_search_white_24px.svg"></md-icon>
                Cerca servizi</a>
            </div>
        </md-list-item>
        
    </md-list> -->

    <md-list>
        <md-subheader id="sidebar-subheader" class="md-no-sticky">MY SERVICES</md-subheader>
        <md-list-item class="item-service" ng-repeat="service in sidevm.userServices" ng-click="sidevm.serviceDetail(service.id)">
            <span> [[ service.title ]] </span>
        </md-list-item>
    </md-list>

</md-sidenav>
