<div layout="column" style="height:100%;">
    <!-- #003366-->
    <navbar location="schema"></navbar>
		<div layout="row"  flex>

		    <sidebar flex="15" layout-align="end stretch" ></sidebar>
		    <div  layout="column" id="template-detail-div">
			    <md-toolbar id="templates-toolbar" >
					<h1 id="templates-title" class="md-title">Available templates</h1>			    
				</md-toolbar>
			    <md-content id="template-md-content" flex="" layout-padding="" md-whiteframe="15">
			        	<md-grid-list
					        md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
					        md-row-height-gt-md="1:1" md-row-height="4:3"
					        md-gutter="50px" md-gutter-gt-sm="12px" >

							<md-grid-tile ng-repeat="template in vm.templates"
								md-rowspan="1"
								md-colspan="1"
								md-colspan-sm="2"
								md-colspan-xs="2"
								ng-style="{
								'background': template.color
								}" 
								md-whiteframe="15"
								ng-click="vm.showDetail(template.id)">
								<md-icon class="icon-template" md-svg-icon="/static/img/icons/tag-outline.svg"></md-icon> 
								<md-grid-tile-footer><h3>[[ template.title ]]</h3></md-grid-tile-footer>
							</md-grid-tile>
					</md-grid-list>
			
				    
			  	</md-content>
			</div>
				<md-button class="md-fab md-fab-bottom-right" aria-label="Eat cake" ng-click="vm.showCreateDialog()">
			        <md-icon md-svg-src="/static/img/icons/ic_add_white_48px.svg"></md-icon>
			    </md-button>

		</div>


</div>

